In [21]:
import pandas as pd
from plotly import express as px

In [22]:
df_salary_1 = pd.read_excel(r'./data/salary_data_2000_2023.xlsx', sheet_name=1, header=2, index_col=0, nrows=35)

df_salary_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35 entries, Всего по  экономике to Предоставление прочих коммунальных, социальных и персональных услуг
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2000    33 non-null     float64
 1   2001    33 non-null     float64
 2   2002    33 non-null     float64
 3   2003    33 non-null     float64
 4   2004    33 non-null     float64
 5   2005    33 non-null     float64
 6   2006    33 non-null     float64
 7   2007    33 non-null     float64
 8   2008    33 non-null     float64
 9   2009    33 non-null     float64
 10  2010    33 non-null     float64
 11  2011    33 non-null     float64
 12  2012    33 non-null     float64
 13  2013    33 non-null     float64
 14  2014    33 non-null     float64
 15  2015    33 non-null     float64
 16  2016    33 non-null     float64
dtypes: float64(17)
memory usage: 4.9+ KB

In [23]:
df_salary_2 = pd.read_excel(r'./data/salary_data_2000_2023.xlsx', sheet_name=0, header=4, index_col=0, names=[i for i in range(2017, 2024)], nrows=53)

df_salary_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 53 entries, Всего to деятельность в области культуры, спорта, организации досуга и развлечений
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2017    50 non-null     float64
 1   2018    50 non-null     float64
 2   2019    50 non-null     float64
 3   2020    50 non-null     float64
 4   2021    50 non-null     float64
 5   2022    50 non-null     float64
 6   2023    50 non-null     float64
dtypes: float64(7)
memory usage: 3.3+ KB

In [ ]:
# Соединяем датафреймы с ЗП

In [34]:
df_inflation = pd.read_excel(r'./data/inflation.xlsx', usecols=['Год', 'Всего'], index_col=0).T

df_inflation

Год,2024,2023,2022,2021,2020,2019,2018,2017,2016,2015,...,2000,1999,1998,1997,1996,1995,1994,1993,1992,1991
Всего,1.55,7.42,11.92,8.39,4.91,3.05,4.27,2.52,5.38,12.91,...,20.2,36.56,84.44,11.03,21.81,131.33,215.02,839.87,2508.85,160.4