In [1]:
import pandas as pd
from plotly import express as px

In [2]:
df_salary_1 = pd.read_excel(r'./data/salary_data_2000_2023.xlsx', sheet_name=1, 
                            header=2, index_col=0, nrows=35).loc[['Финансовая деятельность', 'Здравоохранение и предоставление социальных услуг',
                                                                  'Государственное управление и обеспечение военной безопасности; социальное страхование']]
df_salary_1.rename(inplace=True, 
                   index={'Здравоохранение и предоставление социальных услуг': 'Здравоохранение и социальные услуги', 
                          'Государственное управление и обеспечение военной безопасности; социальное страхование': 
                          'Гос. управление, военные и социальное страхование'})
df_salary_1

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Финансовая деятельность,5232.2,8885.2,13245.9,15561.2,17383.8,22463.5,27885.5,34879.8,41871.8,42372.9,50120.0,55788.9,58999.2,63333.0,68565.0,70088.0,80289.0
Здравоохранение и социальные услуги,1333.3,1959.9,3141.3,3662.6,4612.0,5905.6,8059.9,10036.6,13048.6,14819.5,15723.8,17544.5,20640.7,24438.6,27068.0,28179.0,29742.0
"Гос. управление, военные и социальное страхование",2712.1,3754.9,5200.4,6913.8,7898.6,10958.5,13477.3,16896.3,21344.1,23960.0,25120.8,27755.5,35701.4,40448.7,42659.0,41916.0,43611.0

In [3]:
df_salary_2 = pd.read_excel(r'./data/salary_data_2000_2023.xlsx', sheet_name=0, header=4, index_col=0, names=[i for i in range(2017, 2024)], 
                            nrows=53).loc[['деятельность финансовая и страховая', 
                                           'деятельность в области здравоохранения и социальных услуг', 
                                           'государственное управление и обеспечение военной безопасности; социальное обеспечение']]
df_salary_2.rename(inplace=True, 
                   index={'деятельность финансовая и страховая': 'Финансовая деятельность', 
                          'деятельность в области здравоохранения и социальных услуг': 'Здравоохранение и социальные услуги', 
                          'государственное управление и обеспечение военной безопасности; социальное обеспечение': 
                          'Гос. управление, военные и социальное страхование'})

df_salary_2

,2017,2018,2019,2020,2021,2022,2023
Финансовая деятельность,84904.0,91070.0,103667.8,112680.0,130223.3,146637.1,169105.7
Здравоохранение и социальные услуги,31980.3,40027.0,43122.1,49532.0,50690.1,55419.6,61485.5
"Гос. управление, военные и социальное страхование",43499.7,47803.0,50990.5,54496.0,58620.3,63505.2,73860.9

In [4]:
df_salary = df_salary_1.merge(df_salary_2, how='inner', left_index=True, right_index=True, validate='one_to_one')

df_salary

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Финансовая деятельность,5232.2,8885.2,13245.9,15561.2,17383.8,22463.5,27885.5,34879.8,41871.8,42372.9,...,68565.0,70088.0,80289.0,84904.0,91070.0,103667.8,112680.0,130223.3,146637.1,169105.7
Здравоохранение и социальные услуги,1333.3,1959.9,3141.3,3662.6,4612.0,5905.6,8059.9,10036.6,13048.6,14819.5,...,27068.0,28179.0,29742.0,31980.3,40027.0,43122.1,49532.0,50690.1,55419.6,61485.5
"Гос. управление, военные и социальное страхование",2712.1,3754.9,5200.4,6913.8,7898.6,10958.5,13477.3,16896.3,21344.1,23960.0,...,42659.0,41916.0,43611.0,43499.7,47803.0,50990.5,54496.0,58620.3,63505.2,73860.9

In [5]:
df_inflation = pd.read_excel(r'./data/inflation.xlsx', usecols=['Год', 'Всего'], index_col=0).T

df_inflation

Год,2024,2023,2022,2021,2020,2019,2018,2017,2016,2015,...,2000,1999,1998,1997,1996,1995,1994,1993,1992,1991
Всего,1.55,7.42,11.92,8.39,4.91,3.05,4.27,2.52,5.38,12.91,...,20.2,36.56,84.44,11.03,21.81,131.33,215.02,839.87,2508.85,160.4