In [21]:
import pandas as pd
from plotly import express as px

In [22]:
df_salary_1 = pd.read_excel(r'./data/salary_data_2000_2023.xlsx', sheet_name=1, header=2, index_col=0, nrows=35)

df_salary_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35 entries, Всего по  экономике to Предоставление прочих коммунальных, социальных и персональных услуг
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2000    33 non-null     float64
 1   2001    33 non-null     float64
 2   2002    33 non-null     float64
 3   2003    33 non-null     float64
 4   2004    33 non-null     float64
 5   2005    33 non-null     float64
 6   2006    33 non-null     float64
 7   2007    33 non-null     float64
 8   2008    33 non-null     float64
 9   2009    33 non-null     float64
 10  2010    33 non-null     float64
 11  2011    33 non-null     float64
 12  2012    33 non-null     float64
 13  2013    33 non-null     float64
 14  2014    33 non-null     float64
 15  2015    33 non-null     float64
 16  2016    33 non-null     float64
dtypes: float64(17)
memory usage: 4.9+ KB

In [23]:
df_salary_2 = pd.read_excel(r'./data/salary_data_2000_2023.xlsx', sheet_name=0, header=4, index_col=0, names=[i for i in range(2017, 2024)], nrows=53)

df_salary_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 53 entries, Всего to деятельность в области культуры, спорта, организации досуга и развлечений
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2017    50 non-null     float64
 1   2018    50 non-null     float64
 2   2019    50 non-null     float64
 3   2020    50 non-null     float64
 4   2021    50 non-null     float64
 5   2022    50 non-null     float64
 6   2023    50 non-null     float64
dtypes: float64(7)
memory usage: 3.3+ KB

In [25]:
df_inflation = pd.read_excel(r'./data/inflation.xlsx')

df_inflation

,Год,Янв,Фев,Мар,Апр,Май,Июн,Июл,Авг,Сен,Окт,Ноя,Дек,Всего
0,2024,7.44,7.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.55
1,2023,11.76,10.97,3.51,2.30,2.50,3.24,4.30,5.13,6.00,6.68,7.47,7.42,7.42
2,2022,8.74,9.16,16.70,17.83,17.11,15.90,15.09,14.30,13.67,12.63,11.97,11.92,11.92
3,2021,5.19,5.67,5.78,5.52,6.01,6.51,6.47,6.69,7.41,8.14,8.40,8.39,8.39
4,2020,2.42,2.31,2.55,3.10,3.03,3.21,3.37,3.57,3.67,3.98,4.42,4.91,4.91
5,2019,5.00,5.24,5.27,5.17,5.13,4.66,4.59,4.33,3.99,3.77,3.54,3.05,3.05
6,2018,2.21,2.20,2.36,2.41,2.42,2.30,2.50,3.07,3.39,3.55,3.83,4.27,4.27
7,2017,5.02,4.59,4.25,4.13,4.09,4.35,3.86,3.29,2.96,2.73,2.50,2.52,2.52
8,2016,9.77,8.06,7.26,7.24,7.30,7.48,7.21,6.84,6.42,6.09,5.76,5.38,5.38
9,2015,14.97,16.71,16.93,16.42,15.78,15.29,15.64,15.77,15.68,15.59,14.98,12.91,12.91
10,2014,6.05,6.20,6.92,7.33,7.59,7.80,7.45,7.56,8.03,8.30,9.07,11.36,11.36
11,2013,7.07,7.28,7.02,7.23,7.38,6.88,6.45,6.49,6.13,6.25,6.48,6.45,6.45
12,2012,4.16,3.74,3.70,3.57,3.61,4.30,5.59,5.95,6.58,6.55,6.47,6.58,6.58
13,2011,9.56,9.47,9.46,9.61,9.59,9.42,9.01,8.16,7.21,7.19,6.78,6.10,6.10
14,2010,8.02,7.18,6.46,6.04,5.97,5.74,5.46,6.04,6.96,7.50,8.06,8.78,8.78
15,2009,13.35,13.85,13.98,13.16,12.28,11.87,12.01,11.60,10.69,9.69,9.10,8.80,8.80
16,2008,12.56,12.66,13.35,14.30,15.12,15.14,14.73,15.04,15.05,14.23,13.78,13.28,13.28
17,2007,8.20,7.61,7.37,7.60,7.76,8.48,8.70,8.59,9.35,10.83,11.49,11.87,11.87
18,2006,10.71,11.18,10.61,9.77,9.42,9.03,9.26,9.62,9.44,9.15,9.03,9.00,9.00
19,2005,12.70,12.96,13.63,13.77,13.84,13.68,13.16,12.53,12.33,11.68,11.27,10.91,10.91
20,2004,11.28,10.58,10.25,10.22,10.15,10.13,10.36,11.28,11.38,11.53,11.70,11.74,11.74
21,2003,14.29,14.82,14.78,14.62,13.62,13.93,13.91,13.35,13.28,13.20,12.48,11.99,11.99
22,2002,18.96,17.66,16.76,16.04,15.94,14.69,15.00,15.09,14.86,14.84,15.12,15.06,15.06
23,2001,20.71,22.19,23.67,24.77,24.81,23.68,22.05,20.88,20.02,18.82,18.63,18.58,18.58
24,2000,28.93,25.11,22.49,19.95,19.40,20.15,18.94,18.73,18.54,19.41,19.75,20.20,20.20
25,1999,96.92,103.24,107.58,113.06,116.71,120.67,126.51,121.03,62.03,57.12,50.52,36.56,36.56
26,1998,10.13,9.43,8.57,7.95,7.48,6.40,5.59,9.62,52.21,58.85,66.84,84.44,84.44
27,1997,19.74,18.28,16.71,15.34,14.59,14.51,14.75,14.83,14.11,12.95,11.54,11.03,11.03
28,1996,104.50,89.34,78.66,68.27,58.40,50.25,43.60,37.05,31.63,27.21,23.95,21.81,21.81
29,1995,214.68,215.24,219.73,219.68,222.73,224.73,224.89,224.70,214.18,186.09,161.00,131.33,131.33
30,1994,780.85,682.80,600.09,539.87,479.24,412.09,340.71,265.93,221.19,209.09,204.36,215.02,215.02
31,1993,850.46,758.85,694.06,674.49,717.40,722.89,810.61,956.51,1065.47,1033.23,945.97,839.87,839.87
32,1992,746.67,1014.89,1262.41,914.10,1001.73,1196.60,1325.49,1440.38,1598.83,1917.26,2235.88,2508.85,2508.85
33,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,160.40,160.40